body{
  background-color: #0478eb;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 5px 20px;
  background-color: #4eb821;
  color: #fdffff;
  border-style: none;
}

input {
  height: 20px;
}